<section class="movieposter">
  <img src="<%= @movie.poster %>" alt="Current movie poster loads here">
  <div id="movieinfo">
    <p><%= @movie.title %></p>
    <p><%= @movie.year %></p>
    <p><%= @movie.producers %></p>
    <p>Budget: <%= @movie.budget %></p></div>
</section>