<section class="playingfield" id="playingfield">
  <!--
      Give each draggable and droppable regions the 'data-dropzone-id' attribute and then if those match when calculating the score, set 'data-actor-matched' to true and then count how many are true; that is the score for the round
  -->
  <div id="actors">
    <ul>
      <% [0,1,2,3,4].shuffle.each do |member| %>
      <li>
        <div name="actor<%= member %>" class="card">
          <div class="card-image">
            <img src="<%= @movie.castphotos[member] %>" alt="Actor portrait" class="actorportrait">
          </div>
          <div class="card-content">
            <div data-dropzone-id="actor<%= member %>" class="droppable"
            data-actor-matched="false">
              Drop a name here!
            </div>
          </div>
        </div>
      </li>
      <% end %>

    </ul>
  </div><!-- actors -->

  <div name="actornames">
    <p class="center">Drag the name of the actor to the matching portrait.</p>
    <ul>
      <% [0,1,2,3,4].shuffle.each do |member| %>
      <li>
        <div data-dropzone-id="actor<%= member %>" class="draggable card"><span>
          <%= @movie.castnames[member] %></span></div>
      </li>
      <% end %>
    </ul>
  </div>

</section>