
<section class="header">
<h2>Celebrity Name Game</h2>
<h3>Search movies and see if you know who's who.</h3>
<p>Current score: <%= @score %>, you are on round # <%= @rounds %></p>
</section>

<section class="searchbox">
  <%= form_tag '/', method: :get, remote: true %>
    <%= text_field_tag :searchtext, 'Interstellar' %>
    <%= submit_tag 'Find movie' %> <span><em> You last typed "<%= params[:searchtext] %>"</em></span>
    
</section>

<%= render 'movieposter' %>

<script>

$(function() { 
$( ".draggable" ).draggable({ 
  containment: ".playingfield", 
  scroll: false,
  snap: ".droppable",
  snapMode: "inner" });

$( ".droppable" ).droppable({
  hoverClass: "droppable-hover",
  accept: ".draggable"

  });

  // drop : function(event, ui) {
  //   $(this).droppable( "option", "disabled", true );
  //   },
  // out : function(event, ui) {
  //   $(this).droppable( "option", "disabled", false );
  //   },
  // revert: function (event, ui) {
  //   $(this).droppable( "option", "disabled", true );
  //   } 

 // $('.searchbox').bind('ajax:success', function(evt, data, status, xhr){
 //    $('.playingfield').html(xhr.responseText);
 //  });

var movieQueryBox = document.querySelectorAll("[name=searchbox]");
var searchQuery = movieQueryBox.value;
// document.getElementById("jssearchstatus").innerHTML = searchQuery;
});

</script>

<%= render "playingfield" %>

<%= render "scoring" %>


<p>"This product uses the TMDb API but is not endorsed or certified by TMDb."</p>