<%= render 'header' %>

<a name="top"></a>
<section class="header">  

<h6></h6>
<p></p>

</section>

<section class="searchbox">
  <%= form_tag '/', method: :get, 
  remote: :true, 
  id: "searchbox" %>
    <%= text_field_tag :searchtext, 'Interstellar' %>
    <%= hidden_field_tag 'totalscore' %>
    <%= hidden_field_tag 'totalrounds' %>
    <%= submit_tag 'Find movie', class: 'waves-effect waves-light btn', id: 'searchbox_submit' %> <div class="loader"></div>
</section>

<!-- Add loading icon - should move this code to a js file -->
<script type="text/javascript">
     $( "form" ).submit(function( ) {
      $('.loader').addClass('loading')
    });
</script>

<div class="hideall"> <!-- use this to keep everything hidden until the user puts in a search request -->
<div class="midregion">

<%= render 'movieposter' %>

<script>

$(function() {
$( ".draggable" ).draggable({
  containment: ".playingfield",
  scroll: false,
  snap: ".droppable",
  snapMode: "inner" });

$( ".droppable" ).droppable({
  hoverClass: "droppable-hover",
  accept: ".draggable"

  });

$( '#searchbox').submit(function( event ) {
  console.log("Make Hideall visible");
  setTimeout(function(){ // Delay for Chrome
        $('.hideall').attr('class','visible');
    }, 1000);
  
});

  // drop : function(event, ui) {
  //   $(this).droppable( "option", "disabled", true );
  //   },
  // out : function(event, ui) {
  //   $(this).droppable( "option", "disabled", false );
  //   },
  // revert: function (event, ui) {
  //   $(this).droppable( "option", "disabled", true );
  //   }

});



</script>

<%= render "playingfield" %>

<%= render "scoring" %>
<%= render 'results' %>
</div>
</div>


<%= render "footer" %>